<!doctype html>
<html>
<head>
  <title>YFG Community</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/list.js"></script>
  <script type="text/javascript" src="/js/menu.js"></script>
  <script type="text/javascript" src="/js/info.js"></script>
  <link href = "/css/content.css" type="text/css" rel="stylesheet" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
  $(document).ready(function(){
    // 목록
   $('#yfg').on('click',function(){
    $.ajax({    //이 버튼을 클릭하면 list를 요청해라
     url:'/list',
     type:'get',//전부다 주는거기 때문에 data 필요없다.
     success:function(data){
      $('#list').empty();
      $(data).each(function(index,item){
       $('#list').append('<tr>');
       $('#list').append('<td><input type="checkbox" id="ck" value="'+item.id+'"></td>');
       $('#list').append('<td>'+item.company+'</td>');
       $('#list').append('<td>'+item.department+'</td>');
       $('#list').append('</tr>');
      });
     }
    });
   });
  });
 </script>




</head>
<body>
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center text-muted">
				Yello Financial Group
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li id="info"><a href="#">Info</a></li>
        <li id="yfg"><a href="#">YFG</a></li>
        <li id="ydw"><a href="#">YDW</a></li>
        <li id="ymp"><a href="#">YMP</a></li>
			</ul>
      <div class="media">
				<div class="media-body">
          <div class="news red">
            <span>Today News</span>
            <ul>
              <li><a href="http://news.mtn.co.kr/newscenter/news_viewer.mtn?gidx=2016110413080184487">[CQ리모델링2] ③우후죽순 성장하는 헤지펀드, 이대론 대략난감</a></li>
              <li><a href="http://news.mk.co.kr/newsRead.php?no=773802&year=2016">어니스트펀드, 연 수익률 10.08% 포트폴리오 10호 출시</a></li>
              <li><a href="http://www.kbanker.co.kr/news/articleView.html?idxno=63943">P2P대출업계 손잡고 '금융사 연계형 공동 시스템 구축'</a></li>
              <li><a href="http://www.businesspost.co.kr/news/articleView.html?idxno=36588">카카오, 다음 포털의 경쟁력 회복 '뒤늦게' 추진</a></li>
            </ul>
          </div>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
      <div id="yfg1">
        <div class="page-header">
          <h1>
            YFG <small>Yello Financial Group</small>
          </h1>
        </div>
        <ul>
          <li id="one"><a href="#">company</a></li>
          <li id="two"><a href="#">company</a></li>
          <li><a href="#">company</a></li>
          <li><a href="#">company</a></li>
        </ul>
      </div>
		</div>
		<div class="col-md-6">
      <div id="div1">
        <img src="/img/Logo.png" width="800px" height="750px" />
      </div>
		</div>
		<div class="col-md-3">
      <h1>Login</h1>
			<form class="form-horizontal" role="form">
				<div class="form-group">
          <label class="col-sm-2 control-label" for="inputEmail3">Email</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputEmail3" type="email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="inputPassword3">Password</label>
					<div class="col-sm-10">
						<input class="form-control" id="inputPassword3" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">

						<button class="btn btn-default" type="submit">
							Sign in
						</button>
					</div>
				</div>
			</form>
			<h2>
				YFG
			</h2>
			<p>
				데일리금융그룹 정보 사이트 입니다. 많은 이용 바랍니다.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
			<address>
				 <strong>E-mail, Inc.</strong><br>문의 사항 <br>infra@yellofg.com<br> <abbr title="Phone">P:</abbr> (02) 1234-5678
			</address>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>
</body>
</html>
